.p-menuitem {
  cursor: pointer;
}

.container {
  margin-left: 250px;
}

section.main {
  padding: 2rem;
}

@media (max-width: 720px) {
  .side-menu {
    display: none;
  }

  .container {
    margin-left: 0;
  }
}
